* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(212, 45%, 89%);
}
.scan {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scan h2 {
  margin-top: 20px;
  color: #333;
}
.scan p {
  margin-top: 20px;
  color: #353232;
}
.scan img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .scan {
    width: 90%;
    padding: 15px;
    margin: auto;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
